In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import pycountry

In [2]:
iea_df = pd.read_csv('iea_clean.csv')
iea_df

,Unnamed: 0,region,category,parameter,mode,powertrain,year,unit,value
0,0,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,4.900000e+01
1,1,Australia,Historical,EV sales share,Cars,EV,2011,percent,6.500000e-03
2,2,Australia,Historical,EV stock share,Cars,EV,2011,percent,4.600000e-04
3,3,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,4.900000e+01
4,4,Australia,Historical,EV sales,Cars,BEV,2012,Vehicles,1.700000e+02
...,...,...,...,...,...,...,...,...,...
9537,9537,World,Projection-APS,EV stock,Trucks,PHEV,2030,Vehicles,9.100000e+05
9538,9538,World,Projection-APS,EV stock,Vans,BEV,2030,Vehicles,1.200000e+07
9539,9539,World,Projection-APS,EV stock,Vans,PHEV,2030,Vehicles,1.300000e+06
9540,9540,World,Projection-APS,EV stock,Cars,BEV,2030,Vehicles,1.800000e+08
9541,9541,World,Projection-APS,EV stock,Cars,PHEV,2030,Vehicles,5.000000e+07

In [3]:
iea_df = iea_df.drop(columns='Unnamed: 0', axis=1)
iea_df

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,4.900000e+01
1,Australia,Historical,EV sales share,Cars,EV,2011,percent,6.500000e-03
2,Australia,Historical,EV stock share,Cars,EV,2011,percent,4.600000e-04
3,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,4.900000e+01
4,Australia,Historical,EV sales,Cars,BEV,2012,Vehicles,1.700000e+02
...,...,...,...,...,...,...,...,...
9537,World,Projection-APS,EV stock,Trucks,PHEV,2030,Vehicles,9.100000e+05
9538,World,Projection-APS,EV stock,Vans,BEV,2030,Vehicles,1.200000e+07
9539,World,Projection-APS,EV stock,Vans,PHEV,2030,Vehicles,1.300000e+06
9540,World,Projection-APS,EV stock,Cars,BEV,2030,Vehicles,1.800000e+08
9541,World,Projection-APS,EV stock,Cars,PHEV,2030,Vehicles,5.000000e+07

In [4]:
iea_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9542 entries, 0 to 9541
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      9542 non-null   object
 1   category    9542 non-null   object
 2   parameter   9542 non-null   object
 3   mode        9542 non-null   object
 4   powertrain  9542 non-null   object
 5   year        9542 non-null   int64
 6   unit        9542 non-null   object
 7   value       9542 non-null   float64
dtypes: float64(1), int64(1), object(6)
memory usage: 596.5+ KB

In [5]:
print(iea_df.isna().sum())

region        0
category      0
parameter     0
mode          0
powertrain    0
year          0
unit          0
value         0
dtype: int64

In [6]:
def convert_alpha3(df=pd.DataFrame):
    alpha3 = []
    others = []

    for land in df["region"]:
        try:
            alpha3.append(pycountry.countries.get(name=land).alpha_3)
        except:
            others.append(land)

    # print(set(alpha3))
    # print(set(others))
    
    return alpha3, others

In [7]:
alpha3, others = convert_alpha3(iea_df)

print(set(alpha3))
print(set(others))

{'DEU', 'IND', 'ISR', 'CHE', 'AUT', 'AUS', 'CHN', 'NLD', 'BRA', 'POL', 'ZAF', 'SWE', 'BEL', 'GRC', 'NZL', 'ITA', 'CHL', 'GBR', 'DNK', 'IDN', 'CAN', 'MEX', 'FIN', 'ISL', 'NOR', 'ESP', 'THA', 'FRA', 'JPN', 'PRT'}
{'USA', 'EU27', 'Turkiye', 'Korea', 'Rest of the world', 'World', 'Other Europe', 'Europe'}

In [8]:
iea_clean_df = iea_df.copy()
andere = []

for land in iea_clean_df["region"]:
    if land == "USA":
        iea_clean_df.replace(to_replace=land, value="United States of America", inplace=True)
    elif land == "Turkiye":
        iea_clean_df.replace(to_replace=land, value="Turkey", inplace=True)
    elif land == "Korea":
        iea_clean_df.replace(to_replace=land, value='Republic of Korea', inplace=True)
    else:
        andere.append('land')

In [9]:
alpha3_clean, others_clean = convert_alpha3(iea_clean_df)

print(set(alpha3_clean))
print(set(others_clean))

{'DEU', 'TUR', 'IND', 'ISR', 'CHE', 'AUT', 'AUS', 'CHN', 'NLD', 'BRA', 'POL', 'ZAF', 'SWE', 'BEL', 'GRC', 'NZL', 'ITA', 'CHL', 'GBR', 'DNK', 'IDN', 'CAN', 'MEX', 'FIN', 'ISL', 'NOR', 'ESP', 'THA', 'FRA', 'JPN', 'PRT'}
{'EU27', 'Republic of Korea', 'Rest of the world', 'United States of America', 'World', 'Other Europe', 'Europe'}

In [10]:
iea_clean_df.insert(loc=0, column='alpha3_code', value='no code')

In [11]:
iea_clean_df

,alpha3_code,region,category,parameter,mode,powertrain,year,unit,value
0,no code,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,4.900000e+01
1,no code,Australia,Historical,EV sales share,Cars,EV,2011,percent,6.500000e-03
2,no code,Australia,Historical,EV stock share,Cars,EV,2011,percent,4.600000e-04
3,no code,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,4.900000e+01
4,no code,Australia,Historical,EV sales,Cars,BEV,2012,Vehicles,1.700000e+02
...,...,...,...,...,...,...,...,...,...
9537,no code,World,Projection-APS,EV stock,Trucks,PHEV,2030,Vehicles,9.100000e+05
9538,no code,World,Projection-APS,EV stock,Vans,BEV,2030,Vehicles,1.200000e+07
9539,no code,World,Projection-APS,EV stock,Vans,PHEV,2030,Vehicles,1.300000e+06
9540,no code,World,Projection-APS,EV stock,Cars,BEV,2030,Vehicles,1.800000e+08
9541,no code,World,Projection-APS,EV stock,Cars,PHEV,2030,Vehicles,5.000000e+07

In [12]:
i = 0
for regi in iea_clean_df['region']:
    if regi == 'United States of America':
        iea_clean_df.at[i, 'alpha3_code']='USA'
        i += 1
    elif regi == 'Republic of Korea':
        iea_clean_df.at[i, 'alpha3_code']='ROK'
        i += 1
    elif regi == 'EU27' or regi == 'Rest of the world' or regi == 'World' or regi == 'Other Europe' or regi == 'Europe':
        iea_clean_df.at[i, 'alpha3_code']=None
        i += 1
    else:
        iea_clean_df.at[i, 'alpha3_code']= str((pycountry.countries.get(name=regi).alpha_3))
        i += 1

In [13]:
iea_clean_df

,alpha3_code,region,category,parameter,mode,powertrain,year,unit,value
0,AUS,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,4.900000e+01
1,AUS,Australia,Historical,EV sales share,Cars,EV,2011,percent,6.500000e-03
2,AUS,Australia,Historical,EV stock share,Cars,EV,2011,percent,4.600000e-04
3,AUS,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,4.900000e+01
4,AUS,Australia,Historical,EV sales,Cars,BEV,2012,Vehicles,1.700000e+02
...,...,...,...,...,...,...,...,...,...
9537,None,World,Projection-APS,EV stock,Trucks,PHEV,2030,Vehicles,9.100000e+05
9538,None,World,Projection-APS,EV stock,Vans,BEV,2030,Vehicles,1.200000e+07
9539,None,World,Projection-APS,EV stock,Vans,PHEV,2030,Vehicles,1.300000e+06
9540,None,World,Projection-APS,EV stock,Cars,BEV,2030,Vehicles,1.800000e+08
9541,None,World,Projection-APS,EV stock,Cars,PHEV,2030,Vehicles,5.000000e+07

In [14]:
iea_clean_df[iea_clean_df['region'] == 'EU27']

,alpha3_code,region,category,parameter,mode,powertrain,year,unit,value
2074,None,EU27,Historical,EV stock,Buses,BEV,2010,Vehicles,150.000
2075,None,EU27,Historical,EV sales,Buses,BEV,2010,Vehicles,27.000
2076,None,EU27,Historical,EV stock share,Buses,EV,2010,percent,0.022
2077,None,EU27,Historical,EV sales share,Vans,EV,2010,percent,0.097
2078,None,EU27,Historical,EV stock share,Vans,EV,2010,percent,0.012
...,...,...,...,...,...,...,...,...,...
2353,None,EU27,Historical,EV stock,Buses,PHEV,2022,Vehicles,810.000
2354,None,EU27,Historical,EV stock,Vans,BEV,2022,Vehicles,210000.000
2355,None,EU27,Historical,EV sales,Vans,PHEV,2022,Vehicles,2600.000
2356,None,EU27,Historical,EV sales,Buses,PHEV,2022,Vehicles,69.000
2357,None,EU27,Historical,EV stock,Buses,BEV,2022,Vehicles,11000.000